* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Lato', sans-serif;
      list-style: none;
}

body {
      background-image: url("./background.svg");
      height: 100vh;
      display: flex;
      justify-content: center;
      justify-content: center;
      align-items: center;
}

div.main-content {
      width: 1440px;
      display: flex;
      flex-direction: column;
      align-items: center;
}

p.title {
      font-weight: 700;
      font-size: 64px;
      margin-bottom: 24px;
}

p#announcer {
      background-color: #bbbbbb;
      padding: 4px 24px;
      /* border-radius: 25px; */
}

div.scores {
      margin-top: 8px;
      display: flex;
      gap: 128px;
}

div.scores > p, div > p#announcer {
      font-weight: 600;
      font-size: 36px;
}

div.ttt-board-container {
      width: 500px;
      height: 490px;
      border-radius: 16px;
      margin: 36px 0 24px 0;
      display: grid;
      justify-content: center;
      align-items: center;
      gap: 12px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);   
}

.cells {
      background-color: rgb(255, 255, 255);
      border: 2px solid #000;
      border-radius: 6px;
      width: auto;
      height: 150px;
      cursor: pointer;
      opacity: 0.75;
      position: relative;
}

img {
      width: 120px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

#play-again {
      font-size: 24px;
      font-weight: 500;
      width: 190px;
      height: 48px;
      margin-bottom: 24px;
      cursor: pointer;
      display: none;
}

#play-again:hover {
      background-color: #00ff55;
}
